
.paralax-1{
    
    background-image: url("../../assets/about-page1.jpg");


    height: 700px; 
    width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax-1 h1{
    position: absolute;
    top: 50%;
    left: 32%;

    background: rgba(255, 255, 255, 0.527);
    box-shadow: 0 8px 32px 0 rgba(116, 116, 116, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.644);
    border-radius: 12px;

    padding: 1rem 2rem;
    font-family: var(--logo-font);
    transition: all ease-in-out 2s;
}

h1 span{
    color: var(--beige);
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}

.text-container{
    width: 100%;
    height: fit-content;
    padding: 1rem;

    background-color: var(--dark);
}

.text-container p {
    border: solid 3px var(--orange);
    border-radius: 12px;
    padding: 1rem;
    color: var(--beige);
    font-family: var(--text-font);
    text-align: center;
}

.paralax-2{
    
    background-image: url("../../assets/about-page2.jpg");


    height: 300px; 
    width: 100%;

    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.video iframe{
    margin-top: 2rem;
}

@media (min-width:992px) {
    .paralax-1 h1{
        left: 42%;
    }

    .paralax-2{
        height: 400px;
        background-position: right;
        background-color: var(--light);
        background-size: 800px 700px;
    }

    .video{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .video iframe{
        width: 800px;
        height: 400px;
        margin-top: 2rem;
    }
}

@media (min-width:1450px){
    .paralax-1{
        height: 900px; 
    }

    .paralax-1 h1{
        left: 45%;
    }
}


.pulse-box{
    box-shadow: 0 0 0 0 rgb(250, 100, 0, 0.2); 
    animation: pulse 2s infinite;
    border-radius: 10px;
  }
  
@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 100, 0, 0.3);
	}

	70% {
		box-shadow: 0 0 0 5px rgba(250, 100, 0, .1);
	}

	100% {
		box-shadow: 0 0 0 0 rgb(250, 100, 0,0.1);
	}
}
