footer{
    width: 100%;
    height: 11rem;
    padding: 0.5rem 2rem 0 2rem;
    
    box-shadow: inset 0px 0px 13px -1px var(--dark-gray-shadow);
    background-color: var(--dark-gray);
    border-top: 2px solid var(--orange);

    margin-top: 2rem;
}

.brand{
    width: 50%;
    margin: auto;
    display: grid;
    justify-items: center;
    text-align: justify;
}

.brand p {
    margin-top: 0.5rem;
}

.social{
    width: 90%;
    height: min-content;
    margin: auto;
    display: flex;
    justify-content: center;
}

.social i {
    font-size: 1.5rem;
    color: var(--light-beige);
    margin-top: 1rem;
}

.social i:not(:first-child) {
    margin-left: 1rem;

}
.newsletter{
    display: none;
}

.footer-container p:first-child {
    display: none;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: .5rem;
}

footer p {
    font-family: var(--text-font);
    color: var(--light-beige);
}

footer iframe{
    display: none;
}

@media (min-width:992px) {

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 16rem;
        padding-top: 2rem;
    }

    .brand{
        grid-area: 1;
        margin: 0;
        width: 12rem;
        height: fit-content;
        justify-items: baseline;
        text-align: left;
    }

    .brand p {
        margin-top: 2rem;
    }

    footer iframe{
        display: grid;
        margin-left: -2rem;
    }

    .newsletter{
        height: fit-content;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
    }

    .newsletter input, .newsletter button {
        width: 12rem;
        height: 2rem;
        margin-top: 1rem;
        padding: .5rem;
        border-radius: 12px;
        border: none;
        cursor: pointer;
    }

    .newsletter input:invalid{
        border: solid 2px rgb(255, 0, 0);
    }

    .newsletter button {
        width: 3rem;
        background-color: var(--beige);
        color: var(--dark-gray);
    }

    .newsletter button:hover {
        transform: scale(1.05);
    }

    .newsletter i{
        font-size: 1rem;
        color: var(--dark-gray);
    }    

    .footer-container{
        display: grid;
        height: fit-content;
        margin-left: 1rem;
    }

    .footer-container p:first-child, .newsletter p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social{
        height: fit-content;
    }

    .copyright{
        grid-row-start: 2;
        grid-column-start: 3;
        grid-row-end: 2;
        grid-column-end: 5;

        margin-top: -0.5rem;
    }
}