.slider-product{
    width: auto;
    height: 24rem;
}
.product {
    text-align: center;
    font-family: var(--title-font);

    background: rgba(255, 255, 255, 0.205);
    box-shadow: 0 8px 32px 0 rgba(116, 116, 116, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1rem 0;

}

.product a {
    display: grid;
}

.product img {
    display: block;
    width: 18rem;
    height: 22rem;
}

.swiper-prev-mobile, .swiper-next-mobile {
    width: 5rem;
    height: 24rem;
    cursor: pointer;
    display: grid;
    position: absolute;
    box-shadow: inset 10px 0px 30px 0px rgba(255, 255, 255, 0.25);
}

.swiper-prev-mobile{
    left: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.swiper-next-mobile{
    right: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.swiper-next-mobile:hover{
    box-shadow: inset -10px 0px 30px 0px rgba(255, 255, 255, 0.8)
} 

.swiper-prev-mobile:hover{
    box-shadow: inset 10px 0px 30px 0px rgba(255, 255, 255, 0.8)
}

.swiper-next-desktop, .swiper-prev-desktop{
    display: none;
}

.arrow-next, .arrow-prev {
    color: var(--light);
    margin: 0 0.5rem;
    font-size: 2rem;
    transition: 0.5s;
    align-self: center;
    justify-self: center;
}

.arrow-next:hover, .arrow-prev:hover{
    transform: scale(1.2);
}


@media (min-width:992px) {
    .product img {
        filter: grayscale(100%);
        transition: 0.5s;
    }

    .product:hover img{
        filter: grayscale(0);
    }

    .swiper-prev-mobile, .swiper-next-mobile {
        display: none;
    }

    .swiper-next-desktop, .swiper-prev-desktop{
        width: 5rem;
        height: 24rem;
        cursor: pointer;
        display: grid;
        position: absolute;
        z-index: 1;
        box-shadow: inset 10px 0px 30px 0px rgba(255, 255, 255, 0.25);
    }

    .swiper-prev-desktop{
        top: 74%;
        right: 0;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }
    
    .swiper-next-desktop{
        top: 74%;
        left: 0;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    
    .swiper-next-desktop:hover{
        box-shadow: inset -10px 0px 30px 0px rgba(255, 255, 255, 0.8)
    } 
    
    .swiper-prev-desktop:hover{
        box-shadow: inset 10px 0px 30px 0px rgba(255, 255, 255, 0.8)
    }

}